<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

<f:if condition="{contact}">
    <f:render
        partial="Job/SectionHeader"
        arguments="{
            header: '{f:translate(key: 'jobs.contact', extensionName: 'academic_jobs')}',
            layout: '{data.header_layout}',
            subheader: '{data.subheader}'
        }"
    />

    <f:variable
        name="contactItems"
        value="{
            0: 'name',
            1: 'email',
            2: 'phone',
            3: 'additionalInformation'
        }"
    />

    <ul>
        <f:for each="{contactItems}" as="item">
            <f:if condition="{contact.{item}}">
                <li>
                    <span>
                        <f:translate key="jobs.contact.{item}" extensionName="academic_jobs" />:
                    </span>

                    <span>{contact.{item}}</span>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:if>

</html>
