<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>

<f:variable
    name="jobItems"
    value="{
        0: 'starttime',
        1: 'endtime',
        2: 'companyName',
        3: 'employmentType',
        4: 'workLocation',
    }"
/>

<ul>
    <f:for each="{jobItems}" as="item">
        <f:if condition="{job.{item}}">
            <li>
                <core:icon identifier="academic_jobs-{item}"/>

                <span>{f:translate(key: 'jobs.{item}', extensionName: 'academic_jobs')}</span>

                <span>
                    <f:if condition="{item} == 'starttime' || {item} == 'endtime'">
                        <f:then>
                            <f:format.date format="d.m.Y">{job.{item}}</f:format.date>
                        </f:then>
                        <f:else if="{item} == 'employmentType'">
                            <f:translate key="jobs.{item}.{job.{item}}" />
                        </f:else>
                        <f:else>
                            {job.{item}}
                        </f:else>
                    </f:if>
                </span>
            </li>
        </f:if>
    </f:for>
  </ul>
</html>
