<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

<div class="card flex-column-reverse academic-jobs-item">
    <div class="card-content">
        <div class="card-body">
            <f:render
                partial="Job/SectionHeader"
                arguments="{
                    header: '{job.title}',
                    layout: '{data.header_layout}',
                    positionClass: 'card-title',
                    link: '{f:uri.action(action: \'show\', pluginName: \'Detail\', pageUid: settings.detailPid)}',
                    subheader: '{data.subheader}'
                }"
            />

            <f:if condition="!{job.slug}">
                <span>{f:translate(key: 'jobs.noLink', extensionName: 'academic_jobs')}</span>
            </f:if>
        </div>

        <f:variable
            name="jobItems"
            value="{
                2: 'companyName',
                3: 'type',
                4: 'requiredDegree',
                5: 'contractualRelationship',
                6: 'employmentType',
                7: 'workLocation'
            }"
        />

        <ul class="list-group list-group-flush">
            <f:for each="{jobItems}" as="item" key="category">
                <f:if condition="{job.{item}}">
                    <li class="list-group-item">
                        <core:icon identifier="academic_jobs-{item}"/>

                        <b>{f:translate(key: 'jobs.{item}', extensionName: 'academic_jobs')}:</b>

                        <span>
                            <f:if condition="{item} == 'starttime' || {item} == 'endtime'">
                                <f:then>
                                    <f:format.date format="d.m.Y">{job.{item}}</f:format.date>
                                </f:then>
                                <f:else if="{item} == 'employmentType' || {item} == 'type'">
                                    <f:translate key="jobs.{item}.{job.{item}}" />
                                </f:else>
                                <f:else>
                                    {job.{item}}
                                </f:else>
                            </f:if>
                        </span>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </div>

    <f:if condition="{job.image}">
        <f:image image="{job.image}" class="card-img-top img-fluid"/>
    </f:if>
</div>

</html>
