<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>

<div class="card flex-column-reverse academic-jobs-item">
    <div class="card-content">
        <div class="card-body">
            <f:render
                partial="Job/Header"
                arguments="{
                    header: job.title,
                    layout: data.header_layout,
                    positionClass: 'card-title',
                    link: '{f:uri.action(
                        action: \'show\',
                        pluginName: \'Detail\',
                        pageUid: settings.detailPid,
                        arguments: {job: job}
                    )}',
                    subheader: data.subheader
                }"
            />
        </div>

        <ul class="list-group list-group-flush">
            <f:for
                each="{
                    0: 'employmentStartDate',
                    1: 'companyName',
                    2: 'sector',
                    3: 'type',
                    4: 'requiredDegree',
                    5: 'contractualRelationship',
                    6: 'employmentType',
                    7: 'workLocation',
                    8: 'internationalsWelcome',
                    9: 'alumniRecommend',
                    10: 'link',
                    11: 'endtime',
                }"
                as="item"
            >
                <f:if condition="{job.{item}}">
                    <li class="list-group-item">
                        <core:icon identifier="academic_jobs-{item}"/>

                        <f:if condition="{item} == 'internationalsWelcome' || {item} == 'alumniRecommend'">
                            <f:then>
                                <f:comment>A flag carries no value a visitor can read: its label is the statement.</f:comment>
                                <b>{f:translate(key: 'jobs.{item}', extensionName: 'academic_jobs')}</b>
                            </f:then>
                            <f:else>
                                <b>{f:translate(key: 'jobs.{item}', extensionName: 'academic_jobs')}:</b>

                                <span>
                                    <f:if condition="{item} == 'employmentStartDate' || {item} == 'endtime'">
                                        <f:then>
                                            <f:format.date format="d.m.Y">{job.{item}}</f:format.date>
                                        </f:then>
                                        <f:else if="{item} == 'employmentType' || {item} == 'type'">
                                            <f:translate key="jobs.{item}.{job.{item}}" />
                                        </f:else>
                                        <f:else if="{item} == 'link'">
                                            <f:link.typolink parameter="{job.link}">
                                                {f:translate(key: 'jobs.linkText', extensionName: 'academic_jobs')}
                                            </f:link.typolink>
                                        </f:else>
                                        <f:else>
                                            {job.{item}}
                                        </f:else>
                                    </f:if>
                                </span>
                            </f:else>
                        </f:if>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </div>

    <f:if condition="{job.image}">
        <f:comment>
            The shared partial of EXT:academic_base. The job image is a generic image
            field, so it renders with the "card" preset and the free-ratio "default"
            crop variant - an employer logo is not cut, and a vector one is passed
            through unprocessed.
        </f:comment>
        <f:render
            partial="Academic/Image"
            arguments="{
                image: job.image,
                preset: 'card',
                class: 'card-img-top img-fluid'
            }"
        />
    </f:if>
</div>

</html>
