<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:form.validationResults for="{elementId}" as="validationResults">
    <div class="{f:if(condition:'{validationResults.flattenedErrors}', then:' is-invalid')} {class}">
        <label class="form-label" for="{elementId}">
            {f:translate(key:'create.{elementId}.label', extensionName: 'academic_jobs')}
            {f:if(condition: required, then: '<abbr title="required">*</abbr>')}
        </label>

        {elementContent->f:format.raw()}

        <f:if condition="{element.help}">
            <div class="form-text">{element.help->f:format.raw()}</div>
        </f:if>
    </div>
</f:form.validationResults>

</html>
