<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    One field of the new-job form, rendered by the shared partial
    "Academic/Form/Select" of EXT:academic_base. A project overrides this name.
    The field is wrapped by "Job/Forms/FieldWrapper", so an override of the
    wrapper reaches every field.
</f:comment>

<f:render
    partial="Academic/Form/Select"
    arguments="{
        element: element,
        objectName: 'job',
        extensionName: 'AcademicJobs',
        fieldWrapperPartial: 'Job/Forms/FieldWrapper',
    }"
/>

</html>
