<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

<div class="academic-jobs-list">
    <f:render
        partial="Job/Header"
        arguments="{
            header: '{data.header}',
            layout: '{data.header_layout}',
            subheader: '{data.subheader}',
        }"
    />

    <f:flashMessages />

    <f:for each="{jobs}" as="job">
        <f:render
            partial="Job/Item"
            arguments="{_all}"
        />
    </f:for>
</div>

</html>
