<html
    lang="en"
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

<div class="academic-jobs-detail">
    <f:flashMessages />

    <f:if condition="{job}">
        <f:then>
            <f:render
                partial="Job/Header"
                arguments="{
                    header: job.title,
                    layout: data.header_layout,
                    subheader: data.subheader,
                    detail: 'true',
                }"
            />

            <div class="row">
                <div class="col-12 col-md-8">
                    <f:render
                        partial="Job/Information"
                        arguments="{
                            job: job,
                        }"
                    />

                    <f:if condition="{job.description}">
                        <f:format.raw>{job.description}</f:format.raw>
                    </f:if>
                </div>

                <div class="col-12 col-md-4">
                    <f:if condition="{settings.listPid}">
                        <f:link.page pageUid="{settings.listPid}">
                            {f:translate(key: 'jobs.back', extensionName: 'academic_jobs')}
                        </f:link.page>
                    </f:if>

                    <f:render
                        partial="Job/Contact"
                        arguments="{
                            contact: job.contact,
                            data: data,
                        }"
                    />
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="row">
                <div class="col-12 col-md-8"></div>

                <div class="col-12 cold-md-4">
                    <f:if condition="{settings.listPid}">
                        <f:link.page pageUid="{settings.listPid}">
                            {f:translate(key: 'jobs.back', extensionName: 'academic_jobs')}
                        </f:link.page>
                    </f:if>
                </div>
            </div>
        </f:else>
    </f:if>
</div>

</html>
